<div class='row'>
<div class='col-md-6 col-md-offset-3'>
<div class='post'>
<h4> write something here </h4>
<div class='meta'>
22 january 2021
</div>
<div class='content'>
hallo semua namaku budi, aku akan menceritakan suatu cerita yang sangat menarik disini. Menceritakan tentang seorang ninja dari konoha yang akan menjadi seorang pahlawan nantinya. Kalian pasti tidak sabar lagi, jadi tunggu apa-apa lagi. Buruan klik threadnya.
</div>
<div style='clear: both'></div>
<div class='count'>
2 chats
</div>
<div class='post'>
<h4> write something here </h4>
<div class='meta'>
22 january 2021
</div>
<div class='content'>
hallo semua namaku budi, aku akan menceritakan suatu cerita yang sangat menarik disini. Menceritakan tentang seorang ninja dari konoha yang akan menjadi seorang pahlawan nantinya. Kalian pasti tidak sabar lagi, jadi tunggu apa-apa lagi. Buruan klik threadnya.
</div>

<div class='count'>
2 chats
</div>
</div>
</div>